<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login home</title>
  </head>
  <body>
    <p>Here is your secret</p>
    <a href="/secret">show me!</a>
    <a href="/auth/google">Google Login</a>
    <a href="/auth/logout">Logout</a>

  </body>
</html>
