<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <style>
table, th, td {
  border:1px solid black;
}
</style>
  <body>

<table>
  <tr>
    <% for(var i=0; i<names.length; i++) {%>
      <td><%= names[i] %></td>
      <% } %>
  </tr>
  <tr>
    <% for(var i=0; i<data.length; i++) {%>
      <td><%= data[i] %></td>
      <% } %>
  </tr>
</table>
  </body>
</html>
